# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=

BRAVE_API_KEY=

DEEPINFRA_API_KEY=

FIRECRAWL_API_KEY=

MISTRAL_API_KEY=

NEXT_PUBLIC_SUPABASE_ANON_KEY=

NEXT_PUBLIC_SUPABASE_URL=

POSTGRES_DATABASE=

POSTGRES_HOST=

POSTGRES_PASSWORD=

POSTGRES_PRISMA_URL=

# Instructions to create a PostgreSQL database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=

POSTGRES_URL_NON_POOLING=

POSTGRES_USER=

SUPABASE_ANON_KEY=

SUPABASE_JWT_SECRET=

SUPABASE_SERVICE_ROLE_KEY=

SUPABASE_URL=

VERCEL_OIDC_TOKEN=

# Get your xAI API Key here for chat and image models: https://console.x.ai/
XAI_API_KEY=

# Instructions to create a Redis store here:
# https://vercel.com/docs/redis
REDIS_URL=